<div class="form-row-black"></div>

<div class="form-row">
  <div class="form small-11 medium-6 columns small-centered">
    <h2 class="form-title">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :username, "Username:" %>
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field  required-field">
        <%= f.label :email, "Email:" %>
        <%= f.email_field :email %>
      </div>

      <div class="field required-field">
        <%= f.label :password, "Password:" %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Minimum 8 characters" %>
      </div>

      <div class="field required-field">
        <%= f.label :password_confirmation, "Confirm password:" %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="text-center">
          <%= f.submit "Sign up", class: "button sign-up-button" %>
      </div>
    <% end %>

    <div class="button small-button text-center cancel return-to-log-in">
      <%= link_to (fa_icon "arrow-circle-left") + " Log in",
      new_session_path(resource_name) %><br />
    </div>
  </div>
</div>
