<div class="wrap-page small-4 medium-8  large-8 columns small-centered center-content">
  <div class="adventures-search">
    <%= form_tag(search_adventures_path, method: "get") do %>
      <%= text_field_tag :q, params[:q], class: "adventures-search-bar",
      placeholder: "The world is your oyster..." %>
      <a href="#"><%= submit_tag "Find adventure!", class: "button" %></a>
    <% end %>
  </div>

  <section class="welcome">
    <p class="item-count"> Welcome <%= @user %>!
     <span class="feel-like-adventure">Feel like an adventure?</span>
      <i>Explore <strong>shared adventure ideas below</strong>, find a specific
      adventure using the <strong>search bar above</strong>, or
      check out the links above to <strong>create your own adventures</strong>!</i>
    </p>
  </section>

  <div class="map-container multi-marker-map">
    <div class="map-canvas" id="map-canvas-multi-markers"> </div>
  </div>

  <section class="display-attributes display-adventure-attributes">
    <ul class="grid-groups small-block-grid-1 medium-block-grid-4 large-block-grid-4">
      <% @adventures.each do |adventure| %>
        <%= link_to(adventure_path(adventure.id)) do %>
          <li>
            <div class="wrap-top wrap-user">
              <h4><%= adventure.address %></h4>
              <p id="adventure-name"><%= adventure.name unless adventure.name.nil? %></p>
            </div>
        <% end %>
            <div class="wrap-bottom tiny-button">
              <p>
                <% user = adventure.user %>
                <%= user.username %>
              <p>
            </div>
          </li>
      <% end %>
    </ul>
  </section>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var rawMarkers = <%= raw @map_markers.to_json %>
    gmapShowMultiMarkers(rawMarkers);
  });
</script>
