<div class="adventures-search">
  <%= form_tag(search_adventures_path, method: "get") do %>
    <%= text_field_tag :q, params[:q], class: "adventures-search-bar",
    placeholder: "The world is your oyster... explore it." %>
    <a href="#"><%= submit_tag "Find Adventure!", class: "button" %></a>
  <% end %>
</div>


    <p><%= @adventures.count %> adventure(s) being shared!</p>
<div class="small-11 medium-6 columns small-centered">

    <ul class="no-bullet">
      <% @adventures.each do |adventure| %>
        <li class="bucket-list">
          <div class="small-9 columns small-centered divinding-line"></div>
          <h4><%= link_to adventure.name, adventure_path(adventure.id) unless adventure.name.nil? %></h4>
          <h4><%= link_to adventure.address, adventure_path(adventure.id) unless adventure.address.nil? %></h4>
        </li>
      <% end %>
    </ul>
  </div>
