<div class="form-row-black"></div>
<div class="form-row">
  <div class="form small-11 medium-6 columns small-centered">

    <h3 class="form-title">Edit Adventure</h3>

    <div class="text-right delete">
      <%= link_to (fa_icon "trash-o") + " Delete",
      adventure_path(@adventure), method: :delete %>
    </div>

    <%= form_for @adventure, url: edit_adventure_path(@adventure) do |f| %>

      <div class="field required-field">
        <%= f.fields_for :bucket_list_adventures do |ff| %>

        <%= ff.label :bucket_list_id, "Add to group:" %>
        <%= ff.collection_select(
        :bucket_list_id,
        @bucket_lists,
        :id,
        :title
        ) %>
        <% end %>
      </div>

      <div class="field required-field">
        <%= f.label :address, "Adventure address:" %>
        <%= f.text_area :address, placeholder: "Lake Titicaca..."  %>
      </div>

      <div class="field">
        <%= f.label :name, "Adventure name:" %>
        <%= f.text_field :name, placeholder: "Build a reed boat.." %>
      </div>

      <div class="field">
        <%= f.label :link, "Link:" %>
        <%= f.text_area :link, placeholder: "http://wikitravel.org/en/Lake_Titicaca..."  %>
      </div>

      <div class="field">
        <%= f.label :notes, "Notes:" %>
        <%= f.text_area :notes, placeholder: "Highest commercially navigable" \
        " body of water in the world.  High elevation: stay hydrated and" \
        " drink the tea..." %>
      </div>

      <div class="field text-center checkboxes">
        <%= f.check_box :is_achieved %>
        <%= f.label :is_achieved, "Seen it!  Done it!"  %>
        <br/>
        <%= f.check_box :is_shared %>
        <%= f.label :is_shared, "Share it!"  %>
      </div>

        <%= f.submit "Save It!", class: "button edit-save-button" %>
    <% end %>
    <div class="button small-button text-center small-centered cancel edit-cancel-button">
      <%= link_to (fa_icon "arrow-circle-left") + " Cancel",
      bucket_lists_path %>
    </div>
  </div>
</div>
