<div class="row">
  <div class="small-11 medium-6 columns small-centered">
    <h3>My Adventures:</h3>

    <p><%= @adventures.count %> Adventure(s) </p>

  <div class="small-9 columns small-centered divinding-line"></div>
    <ul class="no-bullet">
      <% @adventures.each do |adventure| %>
        <li class="bucket-list">
          <h4><%= link_to adventure.name, adventure_path(adventure.id) unless adventure.name.nil? %></h4>
          <h4><%= link_to adventure.address, adventure_path(adventure.id) unless adventure.address.nil? %></h4>
          <% if adventure.is_shared %>
            <h6><%= fa_icon "eye" %> Public </h6>
          <% else %>
            <h6><%= fa_icon "eye-slash" %> Private </h6>
          <% end %>
          <% if adventure.is_achieved %>
            <%= link_to (fa_icon "check-square-o") + " Seen it! Done it!",
              "#", class: "achieved-toggle", id: adventure.id %>
          <% else %>
            <%= link_to (fa_icon "square-o") + " Seen it! Done it!",
              "#", class: "achieved-toggle", id: adventure.id %>
          <% end %>
          <%= link_to "Edit", edit_adventure_path(adventure) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
