<% if current_user == nil %>
  <%= render "select_bucket_list_user_NOT_signed_in" %>
<% else %>
  <%= render "select_bucket_list_user_signed_in" %>
<% end %>

<%= link_to "No adventures, just a new Bucket List please!", new_bucket_list_path %>
</div>

<%= javascript_include_tag "map/gmap" %>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_maps_api_server_key"] %>&callback=initMap">
</script>
