<div class="form-row">
  <div class="form small-11 medium-6 columns small-centered">

    <%= form_for @adventure do |f| %>
      <div>

        <%= f.label :name, "Adventure Name:" %>
        <%= f.text_field :name %>

        <%= f.label :address, "Adventure Address:" %>
        <%= f.text_area :address %>

        <%= f.fields_for :bucket_list_adventures do |ff| %>
          <%= ff.label :bucket_list_id, "Add to group:" %>
          <%= ff.collection_select(
            :bucket_list_id,
            @bucket_lists,
            :id,
            :title
            ) %>
        <% end %>

        <%= f.label :notes, "Notes:" %>
        <%= f.text_area :notes %>

        <%= f.label :link, "Link:" %>
        <%= f.text_area :link %>

        <div class="checkboxes">
          <%= f.check_box :is_achieved %>
          <%= f.label :is_achieved, "Seen it!  Done it!"  %>

          <%= f.check_box :is_shared %>
          <%= f.label :is_shared, "Share it!"  %>
        </div>
      </div>

        <%= f.submit "Toss it in!", class: "button" %>

    <% end %>
  </div>
</div>
