
          <%= form_for @adventure do |f| %>

              <%= f.label :name %>
              <%= f.text_field :name %>

              <%= f.label :address %>
              <%= f.text_area :address %>

                <%= f.fields_for :bucket_list_adventures do |ff| %>

                  <%= ff.label :bucket_list_id %>
                  <%= ff.collection_select(
                    :bucket_list_id,
                    BucketList.where(user_id: current_user.id),
                    :id,
                    :title,
                    ) %>

                  <%= ff.label :notes %>
                  <%= ff.text_area :notes %>


                    <%= ff.check_box :is_achieved %>
                    <%= ff.label :is_achieved, "Seen it!  Done it!"  %>

                <% end %>

              <%= f.submit "Toss it in!", class: "button" %>

          <% end %>

        <div class="button-area">
          </div class="search-adventures-area">
            <%= form_tag(all_public_bucket_lists_path, method: "get") do %>
              <%= text_field_tag :search, params[:search], id: "search-bar", placeholder: "Find an Adventure" %>
              <button type="submit" class="button">Find an Adventure</button>
            <% end %>
          </div>
          </div class="button">
          </div>
          </div class="button">

          </div>
        </div>
      </div>
    </div>
</div>

<div class="hero" >
  <h1>TravelGo</h1>
</div>
