<div class="small-12 medium-10 large-8 columns small-centered new-adventure-area">
  <%= form_for @adventure do |f| %>

    <div class="form-inputs">
      <%= f.label :name %>
      <%= f.text_field :name, class: "transparent-form" %>

      <%= f.label :address %>
      <%= f.text_area :address, class: "transparent-form" %>

        <%= f.fields_for :bucket_list_adventures do |ff| %>
          <%= ff.label :bucket_list_id %>
          <%= ff.collection_select(
            :bucket_list_id,
            BucketList.where(user_id: current_user.id),
            :id,
            :title,
            class: "transparent-form"
          ) %>

          <%= ff.label :notes %>
          <%= ff.text_area :notes, class: "transparent-form" %>

          <%= ff.check_box :is_achieved %>
          <%= ff.label :is_achieved, "I've already been here/done this"  %>
        <% end %>

      <div class="form-actions">
        <%= f.submit "Add to Bucket List!", class: "button" %>
      </div>
  <% end %>

</div>

<div id="map-container">
  <div id="map-canvas"></div>
</div>

<%= link_to "No adventures, just a new Bucket List please!", new_bucket_list_path %>

</div>

<%= javascript_include_tag "map/gmap" %>
<script async defer >
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_maps_api_server_key"] %>&callback=initMap">
</script>
