<div class="small-12 medium-10 large-8 columns small-centered new-adventure-area">
  <%= form_for @adventure do |f| %>

    <div class="form-inputs">
      <%= f.label :name %>
      <%= f.text_field :name, class: "transparent-form" %>

      <%= f.label :address %>
      <%= f.text_area :address, class: "transparent-form" %>

      <%= render "map" %>

      <% unless current_user == nil %>
        <%= render "new_adventure_user_signed_in" %>
      <% end %>

      <%= f.label :notes %>
      <%= f.text_area :notes, class: "transparent-form" %>

      <%= f.check_box :is_achieved %>
      <%= f.label "I've already been here/done this" %>
    </div>

    <div class="form-actions">
      <%= f.submit "Add to Bucket List!", class: "button" %>
    </div>
  <% end %>

<%= link_to "No adventures, just a new Bucket List please!", new_bucket_list_path %>
</div>

<%= javascript_include_tag "map/gmap" %>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["google_maps_api_server_key"] %>&callback=initMap">
</script>
