<div class="row">
  <div class="small-11 medium-6 columns small-centered">
    <h3>New Adventure</h3>

    <%= form_for @adventure do |f| %>
      <div>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :address, "Location" %>
        <%= f.text_area :address %>

        <%= f.label :link %>
        <%= f.text_area :link %>

        <%= f.fields_for :bucket_list_adventures do |ff| %>

          <%= ff.label :bucket_list_id %>
          <%= ff.collection_select(
            :bucket_list_id,
            @bucket_lists,
            :id,
            :title,
            { prompt: "Pick a Bucket List:" }
            ) %>

        <% end %>

        <%= f.label :notes %>
        <%= f.text_area :notes %>

        <div class="text-center">
          <%= f.check_box :is_achieved %>
          <%= f.label :is_achieved, "Seen it!  Done it!"  %>

          <%= f.check_box :is_shared %>
          <%= f.label :is_shared, "Share it!"  %>
        </div>

        <div class="small-9 columns small-centered divinding-line"></div>
      </div>

      <div class="form-actions text-center">
        <%= f.submit "Toss it in!", class: "button round" %>
      </div>

    <% end %>
  </div>
</div>
