<div class="form-row">
  <div class="form small-11 medium-6 columns small-centered">
    <h3>Search Results:</h3>
        <% @adventures.each do |adventure| %>

            <h6>
              <% if adventure.is_achieved %>
                <%= link_to (fa_icon "check-square-o") + " Seen it! Done it!" %>
              <% else %>
                <%= link_to (fa_icon "square-o") + " Seen it! Done it!" %>
              <% end %>
            </h6>

            <p><%= adventure.name unless adventure.name.nil? %></p>
            <p><%= adventure.address unless adventure.address.nil? %></p>

            <% bucket_lists = adventure.bucket_lists %>

            <p><%= bucket_lists[0].title %></p>
            <% unless @current_user_id == adventure.user_id %>
              <p><%= adventure.user.username %></p>
            <% end %>

        <% end %>
  </div>
</div>
