<div class="row">
  <div class="small-11 medium-6 columns small-centered">
    <h3 class="form-title">Search Results:</h3>
    <ul class="no-bullet">
      <% if @adventures %>
        <% @adventures.each do |adventure| %>
          <% bla = adventure.bucket_list_adventures.first %>
          <li class="adventure-list">
            <div class="small-9 columns small-centered divinding-line"></div>
            <h6>
              <% if bla.is_achieved %>
                <%= link_to (fa_icon "check-square-o") + " Seen it! Done it!",
                  "#", class: "achieved-toggle", id: bla.id %>
              <% else %>
                <%= link_to (fa_icon "square-o") + " Seen it! Done it!",
                  "#", class: "achieved-toggle", id: bla.id %>
              <% end %>
            </h6>
            <p><%= link_to bla.bucket_list.title,
              bucket_list_path(bla.bucket_list.id) %></p>
            <p><%= adventure.name unless adventure.name.nil? %></p>
            <p><%= adventure.address unless adventure.address.nil? %></p>
            <p><%= bla.notes unless bla.notes.nil? %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
