<div class="center-content">
  <div class="adventures-search">
    <%= form_tag(search_adventures_path, method: "get") do %>
      <%= text_field_tag :q, params[:q], class: "adventures-search-bar",
      placeholder: "The world is your oyster... explore it." %>
      <a href="#"><%= submit_tag "Find adventure!", class: "button search-adventures-button" %></a>
    <% end %>
  </div>

    <p class="search-summary"><%= @search_summary %></p>

    <section class="display-attributes display-adventure-attributes">
      <ul class="grid-groups small-block-grid-1 medium-block-grid-4 large-block-grid-4">
        <% @adventures.each do |adventure| %>
          <%= link_to(adventure_path(adventure.id)) do %>
            <li>
              <div class="wrap-top wrap-user">
                <h4>
                  <%= adventure.address %>
                  <%= adventure.name unless adventure.name.nil? %>
                </h4>
              </div>
          <% end %>
              <div class="wrap-bottom tiny-button">
                <p>
                  <% user = adventure.user %>
                  <%= user.username %>
                <p>
              </div>
            </li>
        <% end %>
      </ul>
    </section>

</div>
