<div class="row">
  <div class="small-11 medium-6 columns small-centered">
    <h3 class="form-title">Search Results:</h3>
    <ul class="no-bullet">
      <% if @adventures %>
        <% @adventures.each do |adventure| %>
          <li class="adventure-list">
            <div class="small-9 columns small-centered divinding-line"></div>
            <h6>
              <% if adventure.is_achieved %>
                <%= link_to (fa_icon "check-square-o") + " Seen it! Done it!" %>
              <% else %>
                <%= link_to (fa_icon "square-o") + " Seen it! Done it!" %>
              <% end %>
            </h6>
            <p><%= adventure.name unless adventure.name.nil? %></p>
            <p><%= adventure.address unless adventure.address.nil? %></p>

            <% bucket_lists = adventure.bucket_lists %>
            <p><%= bucket_lists[0].title %></p>
            <p><%= adventure.user.username %></p>

          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
