<div class="row">
  <div class="small-11 medium-6 columns small-centered">
    <div class="bucket-list">

      <h3><%= @adventure.name unless @adventure.name.nil? %></h3>
      <h3><%= @adventure.address unless @adventure.name.nil? %></h3>

      <div class="is-achieved-toggle">
        <% if @adventure.is_achieved %>
          <%= link_to (fa_icon "check-square-o") + " Seen it! Done it!",
            "#", class: "achieved-toggle", id: @adventure.id %>
        <% else %>
          <%= link_to (fa_icon "square-o") + " Seen it! Done it!",
            "#", class: "achieved-toggle", id: @adventure.id %>
        <% end %>
      </div>

      <div class="map-spacer"></div>

      <div class="map-container">
        <div class="map-canvas" id="map-canvas">
        </div>
      </div>

      <div class="map-spacer"></div>

      <h6>
      <% if @adventure.is_shared %>
        <%= fa_icon "eye" %>  Public /
      <% else %>
        <%= fa_icon "eye-slash" %>  Private /
      <% end %>
      <%= link_to "Edit", edit_adventure_path(@adventure) %> /
      <%= link_to "#{@bucket_list.title}", bucket_list_path(@bucket_list.id) %> Bucket List
      </h6>

      <p><%= link_to "#{@adventure.link}", "#{@adventure.link}" unless @adventure.link.nil? %></p>
      <p><%= @adventure.notes unless @adventure.notes.nil? %></p>

    </div>
  </div>
</div>

<!-- <script type="text/javascript">
  $(document).ready(function(){
    var rawMarkers = <%= raw @map_markers.to_json %>
    gmapShow(rawMarkers);
  });
</script> -->
