<div class="row">
  <div class="small-11 medium-6 columns small-centered">

    <div class="bucket-list">
      <h3><%= @adventure.name unless @adventure.name.nil? %></h3>
      <h3><%= @adventure.address unless @adventure.name.nil? %></h3>
      <h6>
      <% if @adventure.is_shared %>
        <%= fa_icon "eye" %>Public /
      <% else %>
        <%= fa_icon "eye-slash" %> Private /
      <% end %>
          <%= link_to "Edit", edit_adventure_path(@adventure) %>
      </h6>
        <% if @adventure.is_achieved %>
          <%= link_to (fa_icon "check-square-o") + " Seen it! Done it!",
            "#", class: "achieved-toggle", id: @adventure.id %>
        <% else %>
          <%= link_to (fa_icon "square-o") + " Seen it! Done it!",
            "#", class: "achieved-toggle", id: @adventure.id %>
        <% end %>
      <p><%= link_to "#{@adventure.link}", "http://#{@adventure.link}" unless @adventure.link.nil? %></p>
      <p><%= @adventure.notes unless @adventure.notes.nil? %></p>
      <h3>Bucket List: <%= link_to "#{@bucket_list.title}", bucket_list_path(@bucket_list.id) %></h3>
    </div>
  </div>
</div>
