<div class="row">
  <div class="small-11 medium-6 large-6 columns small-centered">
  <h2>My Bucket Lists:</h2>

  <p><%= @bucket_lists.count %> Bucket List(s) </p>

    <ul class="no-bullet">
      <% @bucket_lists.each do |bucket_list| %>
        <li class="bucket-list">
          <div class="small-9 columns small-centered divinding-line"></div>
          <h4><%= link_to bucket_list.title, bucket_list_path(bucket_list.id) %></h4>
          <% if bucket_list.is_public %>
            <h6>
              <%= fa_icon "eye" %>
              Public
            </h6>
          <% else %>
            <h6><%= fa_icon "eye-slash" %> Private</h6>
          <% end %>
          <p><%= bucket_list.description %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
