<div class="adventures-search">
  <%= form_tag(search_adventures_path, method: "get") do %>
    <%= text_field_tag :q, params[:q], class: "adventures-search-bar",
      placeholder: "The world is your oyster... search it." %>
    <a href="#"><%= submit_tag "Find Adventure!", class: "button" %></a>
  <% end %>
</div>

<section class="welcome">
  <p class="item-count">
    Welcome <strong><%= @username %></strong>, you have <b><%= @bucket_lists.count %> groups</b>
    with <strong><%= @adventures.count %> total adventure(s)</strong>!
    <i>
      Browse your groups of adventures below or use the searchbar above to find
      a particular adventure.
    </i>
  </p>
</section>

<section class="display-groups">
  <ul class="grid-groups small-block-grid-1 medium-block-grid-4 large-block-grid-6">
    <% @bucket_lists.each do |bucket_list| %>
      <li>
        <div class="wrap-title-and-description">
          <%= link_to(bucket_list_path(bucket_list.id)) do %>
            <p><%= bucket_list.title %></p>
            <p class="description"><%= bucket_list.description %></p>
          <% end %>
        </div>
        <div class="wrap-is-public tiny-button">
          <% if bucket_list.is_public %>
              <%= link_to(edit_bucket_list_path(bucket_list.id)) do %>
                <p class="is-public-link"><%= "Sharing "%><%= fa_icon "eye" %></p>
              <% end %>
          <% else %>
              <p class="is-public-link"><%= link_to "Share it!", edit_bucket_list_path(bucket_list.id) %></p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>
