<h1><%= current_user.username %>'s Bucket Lists:</h1>

<p><%= @bucket_lists.count %> Bucket List(s) </p>

<ul>
  <% @bucket_lists.each do |bucket_list| %>
    <li>
      <%= bucket_list.title %>
      <% if bucket_list.is_public %>
        <li>Public OPEN EYE PHOTO HERE</li>
      <% else %>
        <li>Private CROSSED OUT EYE HERE</li>
      <% end %>
      <%= link_to "Edit", edit_bucket_list_path(bucket_list) %>
    </li>
    <li><%= bucket_list.description %></li>
  <% end %>
</ul>

<%= link_to "New Bucket List!", new_bucket_list_path %>
