<div class="create-bucket-list-area">
  <%= form_for @bucket_list do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label "Make my list public" %>
    <%= f.check_box :is_public %>
    <%= f.submit "Create Your Bucket List!", class: "button" %>
  <% end %>
</div>
