<div class="form-row-black"></div>
<div class="form-row">
  <div class="form small-11 medium-6 columns small-centered">

    <%= form_for @bucket_list do |f| %>

      <div class="required-field">
        <%= f.label :title, "Group title:" %>
        <%= f.text_field :title, placeholder: "Peru 2016..." %>
      </div>

      <%= f.label :description, "Description:" %>
      <%= f.text_area :description, class: "large-text-field", placeholder: "Touring the equatorial south"\
      " by motorcycle, boat, and foot..." %>

        <div class="checkboxes">
            <%= f.check_box :is_public %>
            <%= f.label "Share it!" %>
        </div>

        <%= f.submit "Save It!", class: "button save-button new-save-button", id: "new-bucket-list-submit" %>
    <% end %>
    <div class="button small-button text-center cancel new-cancel-button">
      <%= link_to (fa_icon "arrow-circle-left") + " Cancel",
      bucket_lists_path %>
    </div>
  </div>
</div>
