<div class="form-row">
  <div class="form small-11 medium-6 columns center-content">

    <%= form_for @bucket_list do |f| %>

      <%= f.label :title, "Group title:" %>
      <%= f.text_field :title %>

      <%= f.label :description, "Description:" %>
      <%= f.text_area :description %>

        <div class="checkboxes">
            <%= f.check_box :is_public %>
            <%= f.label "Share it!" %>
        </div>

        <%= f.submit "Save It!", class: "button", id: "new-bucket-list-submit" %>
    <% end %>
  </div>
</div>
