<div class="row">
  <div class="small-11 medium-6 large-6 columns small-centered">

    <div class="bucket-list">
      <h2><%= @bucket_list.title %></h2>
      <% if @bucket_list.is_public %>
        <h6><%= fa_icon "eye" %>Public</h6>
      <% else %>
        <h6><%= fa_icon "eye-slash" %> Private</h6>
      <% end %>
      <p><%= @bucket_list.description %></p>
    </div>

      <ul class="no-bullet">
        <% @bucket_list.bucket_list_adventures.each do |bla| %>
          <li class="adventure">
            <div class="small-9 columns small-centered divinding-line"></div>
            <% if bla.is_achieved %>
              <h6><%= link_to (fa_icon "check-square-o") + " Seen it! Done it!", "#" %></h6>
            <% else %>
              <h6><%= link_to (fa_icon "square-o") + " Seen it! Done it!", "#" %></h6>
            <% end %>
            <%= bla.adventure.name unless bla.adventure.name.nil? %>
            <%= bla.adventure.address unless bla.adventure.name.nil? %>
            <%= bla.notes %>
          </li>
        <% end %>
      </ul>

  </div>
</div>
