<div class="row">
  <div class="small-11 medium-6 columns small-centered">

    <div class="bucket-list">
      <h3><%= @bucket_list.title %></h3>
      <h6>
      <% if @bucket_list.is_public %>
        <%= fa_icon "eye" %>Public /
      <% else %>
        <%= fa_icon "eye-slash" %> Private /
      <% end %>
          <%= link_to "Edit", edit_bucket_list_path(@bucket_list) %>
      </h6>

      <p><%= @bucket_list.description %></p>
    </div>

      <ul class="no-bullet">
        <% @bucket_list.bucket_list_adventures.each do |bla| %>
          <li class="adventure">
            <div class="small-9 columns small-centered divinding-line"></div>
            <% if bla.is_achieved %>
              <h6><%= link_to (fa_icon "check-square-o") + " Seen it! Done it!", "#" %></h6>
            <% else %>
              <h6><%= link_to (fa_icon "square-o") + " Seen it! Done it!", "#" %></h6>
            <% end %>
            <%= bla.adventure.name unless bla.adventure.name.nil? %>
            <%= bla.adventure.address unless bla.adventure.name.nil? %>
            <%= bla.notes unless bla.notes.nil? %>
          </li>
        <% end %>
      </ul>

  </div>
</div>
