<div class="wrap-page small-4 medium-8  large-8 columns small-centered center-content">
  <div class="adventures-search">
    <%= form_tag(search_adventures_path, method: "get") do %>
      <%= text_field_tag :q, params[:q], class: "adventures-search-bar",
        placeholder: "The world is your oyster... search it." %>
      <a href="#"><%= submit_tag "Find Adventure!", class: "button" %></a>
    <% end %>
  </div>

    <div class="bucket-list">
      <h3><%= @bucket_list.title %></h3>
      <h6>
        <% if @bucket_list.is_public %>
          <%= fa_icon "eye" %> Public /
        <% else %>
          <%= fa_icon "eye-slash" %> Private /
        <% end %>
            <%= link_to "Edit", edit_bucket_list_path(@bucket_list) %>
      </h6>
      <p><%= @bucket_list.description %></p>
    </div>

    <section class="display-groups display-all-public-adventures">
      <ul class="grid-groups small-block-grid-1 medium-block-grid-4 large-block-grid-4">
        <% @bucket_list.adventures.each do |adventure| %>
          <li>
            <div class="wrap-title-and-description wrap-user">
              <h4>
                <%= link_to(adventure_path(adventure.id)) do %>
                  <%= link_to adventure.name, adventure_path(adventure.id) unless adventure.name.nil? %>
                  <%= link_to adventure.address, adventure_path(adventure.id) unless adventure.address.nil? %>
                <% end %>
              </h4>
              <p>
                <% user = adventure.user %>
                <%= user.username %>
              <p>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
</div>
