<div class="wrap-page small-4 medium-8  large-8 columns small-centered center-content">
  <div class="adventures-search">
    <%= form_tag(search_adventures_path, method: "get") do %>
      <%= text_field_tag :q, params[:q], class: "adventures-search-bar",
        placeholder: "The world is your oyster... search it." %>
      <a href="#"><%= submit_tag "Find Adventure!", class: "button" %></a>
    <% end %>
  </div>

  <div class="show-bucket-list">
    <%= link_to(edit_bucket_list_path(@bucket_list.id)) do %>

      <h3><%= @bucket_list.title %></h3>

      <p class="is-public-link">
        <% if @bucket_list.is_public %>
          <%= fa_icon "eye" %>
          <%= "  Sharing"%>
        <% else %>
          <%= "Share it!"%>
        <% end %>
      </p>

      <span class="button small-button"> Edit </span>

    <% end %>

    <p><%= @bucket_list.description %></p>

    <section class="display-groups display-all-public-adventures">
      <ul class="grid-groups small-block-grid-1 medium-block-grid-4 large-block-grid-4">
        <% @bucket_list.adventures.each do |adventure| %>
          <%= link_to(adventure_path(adventure.id)) do %>
            <li>
              <div class="wrap-top wrap-user">
                <h4>
                  <%= link_to adventure.name, adventure_path(adventure.id) unless adventure.name.nil? %>
                  <%= link_to adventure.address, adventure_path(adventure.id) %>
                </h4>
              </div>
              <div class="wrap-bottom tiny-button">
                <p>
                  <% user = adventure.user %>
                  <%= user.username %>
                <p>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>
  </div>

</div>
