<div class="row">
  <div class="small-11 medium-6 columns small-centered">

    <div class="bucket-list">
      <h3><%= @bucket_list.title %></h3>

      <h6>
      <% if @bucket_list.is_public %>
        <%= fa_icon "eye" %>Public /
      <% else %>
        <%= fa_icon "eye-slash" %> Private /
      <% end %>
          <%= link_to "Edit", edit_bucket_list_path(@bucket_list) %>
      </h6>

      <p><%= @bucket_list.description %></p>

      <ul class="no-bullet">
        <% @bucket_list.adventures.each do |adventure| %>
          <li class="adventure">
            <div class="small-9 columns small-centered divinding-line"></div>
            <p>CAT</p>
            <p><%= link_to "#{adventure.name unless adventure.name.nil?}", adventure_path(adventure.id) %></p>
            <p><%= link_to "#{adventure.address unless adventure.name.nil?}", adventure_path(adventure.id) %></p>
            <p>
            <% if adventure.is_shared %>
              <%= fa_icon "eye" %>Public /
            <% else %>
              <%= fa_icon "eye-slash" %> Private /
            <% end %>
              <%= link_to "Edit Adventure", edit_adventure_path(adventure.id) %>
            <% if adventure.is_achieved %>
              <%= link_to (fa_icon "check-square-o") + " Seen it! Done it!",
                "#", class: "achieved-toggle", id: bla.id %>
            <% else %>
              <%= link_to (fa_icon "square-o") + " Seen it! Done it!",
                "#", class: "achieved-toggle", id: bla.id %>
            <% end %>
            </p>
          </li>
        <% end %>
      </ul>

    </div>

  </div>
</div>
