<!DOCTYPE html>
<html>
<head>
  <title>TravelGo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
  </script>
</head>
<body>
  <%- flash.each do |key, value| -%>
    <div data-alert class="alert-box">
      <%= value %>
      <a href="#" class="close">&times;</a>
    </div>
  <%- end -%>

  <%= render "layouts/nav_bar" %>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
